@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;

}

body div div {
  background: black;

}

main {
  min-height: 50vh;
  background: black;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.menu-dots {
  color: darkgrey !important;
  font-size: 18px !important;

}


.nav-link {
  color: white !important;
  font-size: 18px !important;
}

.nav-link:hover {
  color: darkgrey !important;
}

.nav-link svg {
  font-size: 28px;
}

.nav-link svg:hover {
  color: darkgrey;
}
.arrow-icon {
  position: absolute;

}
.link-container:hover .arrow-icon {
  display: flex !important;
  position: absolute;
  top: -30px;
}


footer nav {
  margin: 0 auto !important;
}

footer .nav-link svg {
  font-size: 100px !important;
  margin: 7px;
  padding: 20px !important;
  border: solid white 1px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {

  footer .nav-link svg {
    font-size: 65px !important;
    margin: 7px;
    padding: 20px !important;
    border: solid white 1px;
    border-radius: 50%;
  }
}

/* FLICKITY */
